[submodule "lib/allpay"]
	path = lib/allpay
	url = https://github.com/FernFerret/AllPay
[submodule "lib/CommandHandler"]
	path = lib/CommandHandler
	url = git://github.com/PneumatiCraft/CommandHandler.git
